.input {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.input-card {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
}

.input-card__btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.input-card__btn button {
  padding: 7px 17px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-card__btn-ok {
  background-color: lightblue;
  color: #fff;
}

.input-card__btn-cancel {
  margin-right: 7px;
  color: lightblue !important;
  background-color: #fff;
  border: 1px solid lightblue !important;
}

.input-card__inp input {
  height: 30px;
  width: 200px;
  padding: 0 5px;
  outline: none;
  border: 2px solid lightblue;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.input-card__inp input:focus {
  border: 2px solid rgb(153, 230, 255);
}
